# Python
__pycache__/
*.pyc

# Virtualenv
.venv/
.venv_tmp/

# Environment / secrets
# .env

# Editor junk
*.swp
*.swo
.DS_Store

# Logs
*.log
*.txt

# Uploads
uploaded_pdf_raw_renamed/
uploaded_pdf_text/